<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->
 
   <servlet>
      <servlet-name>HelloWorld</servlet-name>
      <servlet-class>HelloServlet</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>DataWorld</servlet-name>
      <servlet-class>datatest</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>NewTaskNow</servlet-name>
      <servlet-class>ntn</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>startTask</servlet-name>
      <servlet-class>startTaskServlet</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>stopTask</servlet-name>
      <servlet-class>stopTaskServlet</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>editTask</servlet-name>
      <servlet-class>editTaskServlet</servlet-class>
   </servlet>
  
    <servlet>
      <servlet-name>allTasks</servlet-name>
      <servlet-class>allTasksServlet</servlet-class>
   </servlet>
  
   <servlet>
      <servlet-name>loginPage</servlet-name>
      <servlet-class>loginServlet</servlet-class>
   </servlet>
  
  <servlet>
      <servlet-name>copyTask</servlet-name>
      <servlet-class>copytaskServlet</servlet-class>
   </servlet>

 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>HelloWorld</servlet-name>
      <url-pattern>/sayhello</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>DataWorld</servlet-name>
      <url-pattern>/datatest</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>NewTaskNow</servlet-name>
      <url-pattern>/ntn</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>startTask</servlet-name>
      <url-pattern>/start</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>stopTask</servlet-name>
      <url-pattern>/stop</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>editTask</servlet-name>
      <url-pattern>/edit</url-pattern>
   </servlet-mapping>
  
   <servlet-mapping>
      <servlet-name>allTasks</servlet-name>
      <url-pattern>/alltasks</url-pattern>
   </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>loginPage</servlet-name>
      <url-pattern>/login</url-pattern>
   </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>copyTask</servlet-name>
      <url-pattern>/copy</url-pattern>
   </servlet-mapping>
   
   
</web-app>